.typingTest {
    text-align: center;
    font-size: 1.25rem;
}
.red {
    background-color: #999;
    color: #980000;
    border-radius: 4px;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 600;
}
